body {
  font-size: 20px;
  max-width: 500px;
}

p {
  text-align: center;
  padding: 25px;
}

.button {
  display: hidden;
}

#gameboard {
  display: fixed;
  padding-top: 50px;
  width: 31.2em;
  height: 31.2em;
  margin: 0 auto;
  max-width: 320px;
  max-height: 320px;
}

.cell {
  border: red solid 1px;
  width: 100px;
  height: 100px;
  display: inline-block;
}
