body {
  font-size: 20px;
  min-width: 500px;
}

#gameboard {
  padding-top: 50px;
  width: 31.2em;
  height: 31.2em;
  margin: 0 auto;
  max-width: 50em;
}

.cell {
  border: red solid 1px;
  width: 10em;
  height: 10em;
  display: inline-block;
}
