body {
  font-size: 20px;
  background-color: black;
}

.innerdiv {

  text-align: center;
}

.top {
  text-align: center;
  width: 100%;
  padding-bottom: 25px;
}

.container {
  margin: 0 auto;
}


#new-game {
  display: none;
  margin: auto;
}

#gameboard {
  padding-top: 50px;
  width: 31.2em;
  height: 31.2em;
  margin: 0 auto;
  max-width: 320px;
  max-height: 320px;
  color: white;
}

.cell {
  font-size: 45px;
  overflow: hidden;
  border: white solid 1px;
  width: 100px;
  height: 100px;
  display: inline-block;
  text-align: center;
  margin: auto;
  color:white;
  display: table-cell;
  vertical-align: middle;
}
